.contact_list {
  display: flex;
  flex-direction: column;
}

.contact_list_item {
  display: grid;
  grid-template-columns: 300px 150px;
  align-items: center;
  padding: 10px;
  border: 1px solid blue;
}

.contact_list_button {
  height: 20px;
  margin-left: 20px;
}
